<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Home page</title>
  </head>
  <body>
    <h1>Fraud Detection Model</h1>
    <form action="{% url 'result' %}">
      {% csrf_token %}

      <p>Hour:</p>
      <input type="number" name="hour" />
      <br />

      <p>Day:</p>
      <input type="number" name="day" />
      <br />

      <p>Month:</p>
      <input type="number" name="month" />
      <br />

      <p>Year:</p>
      <input type="number" name="year" />
      <br />

      <p>Merchant code:</p>
      <input type="number" name="merchant_encoded" />
      <br />

      <p>Category code:</p>
      <input type="number" name="category_encoded" />
      <br />

      <p>City code:</p>
      <input type="number" name="city_encoded" />
      <br />

      <p>State code:</p>
      <input type="number" name="state_encoded" />
      <br />

      <p>Job code:</p>
      <input type="number" name="job_encoded" />
      <br />

      <p>Age:</p>
      <input type="number" name="age" />
      <br />

      <p>Amount:</p>
      <input type="number" name="amt" />
      <br />

      <p>City Population:</p>
      <input type="number" name="city_pop" />
      <br />

      <p>Is female (enter 1):</p>
      <input type="number" name="encoded_F" />
      <br />

      <p>Is Male (enter 1):</p>
      <input type="number" name="encoded_M" />
      <br />

      <input type="submit" value="Get Predictions" />
    </form>
  </body>
</html>
